<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--Variable to input Neteezza source file (the file specification can have wild cards to process multiple files) -->
    <add key="sourcefile" value="c:\bcp\source\*.sql"/>
    <!--Variable to input SQL/DW target file path-->
    <add key="targetfilepath" value="c:\bcp\target\"/>
    <!--Variable to input SQL/DW target file name - if input is a folder or has a wildcard - the filename is set to the sourcefile name -->
    <add key="targetfilename" value="whatever.sql"/>
    <!--isTargetAzureDW, if target is Azure SQLDW then set value to 1 or else 0. 1=True and 0=False -->
    <add key="isTargetAzureDW" value="1"/>
    <!-- Don't use functions (i.e. if you use temp tables, functions won't work for you) -->
    <add key="UseProcs" value="1"/>
    <!--createExternalTable, if target is Azure SQLDW and external table is required then set value to 1 or else 0. 1=True and 0=False -->
    <add key="createExternalTable" value="0"/>
    <!--splitEachTable, use this switch to split each table schema in a separate file, set value to 1 or else 0. 1=True and 0=False -->
    <add key="splitEachTable" value="0"/>
    <!--externalDataSource, for external table, provide datasource info as value-->
    <add key="externalDataSource" value=""/>
    <!--externalFileFormat, for external data source, provide external file format info as value-->
    <add key="externalFileFormat" value=""/>
    <!--externalFileLocation, for external table, provide external file location as value-->
    <add key="externalFileLocation" value="fileloc"/>
    <!--dwuSetting, provide DWU setting info as value (optional)-->
    <add key="dwuSetting" value=""/>
    <!--rejectType, to be used when loading data using Polybase, provide the value-->
    <add key="rejectType" value=""/>
    <!--rejectValue, to be used when loading data using Polybase, provide the value-->
    <add key="rejectValue" value=""/>
    <!-- target schema to prepend to all of the objects -->
    <add key="targetschema" value="dbo"/>
  </appSettings>
</configuration>