<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.WebSockets" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.WebSockets.Client" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="DocumentServerEndPoint" value="boldcosmosdbpoc.gremlin.cosmosdb.azure.com" />
    <add key="PrimaryKey" value="Oqnp3F5lv2HWyCyctFIvElN88NU7EEdGd9G0OLDtksRQBnOi9JHZJk9fqsPZoNF0t1vmLxdl4zGBUjkjfXtGpQ==" />
    <add key="Database" value="bold" />
    <add key="Collection" value="resumedata6" />
  </appSettings>
  <!--appSettings>
    <add key="DocumentServerEndPoint" value="mvhcosmosgraph.gremlin.cosmosdb.azure.com" />
    <add key="PrimaryKey" value="0X1pxS4lp3ZNvS6lYm9ALzyQmNEo1AXIdUFMxWjm3qOilPko2ob8DQWUbnXVW33mroaSAdF8UL0HgBalaReZFA==" />
    <add key="Database" value="Bold" />
    <add key="Collection" value="LiveCareer100v2" />
  </appSettings-->
</configuration>